In [44]:
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
Base = declarative_base()

In [38]:
measurements_df = pd.read_csv('clean_measurements.csv')
stations_df = pd.read_csv('clean_stations.csv')

In [39]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [40]:
measurements_df.to_sql('measurements', engine)

In [41]:
stations_df.to_sql('stations',engine)

ValueError: Table 'stations' already exists.

In [6]:
Base.metadata.create_all(engine)

In [15]:
class Measurement(Base):
    __tablename__ = "Measurement"
    reportID = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(2))
    tobs = Column(Integer)

C:\Users\shrey\Anaconda3\envs\PythonData\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Measurement, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'Measurement' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [16]:
class Station(Base):
    __tablename__ = "Stations"
    stationID = Column(String(255), primary_key = True)
    name = Column(String(255))
    latitude = Column(Float(10))
    longitude = Column(Float(10))
    elevation = Column(Float(10))

C:\Users\shrey\Anaconda3\envs\PythonData\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Station, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'Stations' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [17]:
Base.metadata.create_all(engine)

In [20]:
meas_data = pd.read_sql("SELECT * FROM Measurement", conn)

In [11]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [21]:
Base.metadata

MetaData(bind=None)

In [22]:
engine.table_names()

['Measurement', 'Stations']

In [23]:
Base.metadata.create_all(engine)

In [24]:
meas_data = pd.read_sql("SELECT * FROM Measurement", conn)
meas_data.head()

Empty DataFrame
Columns: [reportID, station, date, prcp, tobs]
Index: []

In [25]:
measurements_df.to_sql('Measurement', conn, if_exists = 'append', index = True, index_label = 'reportID' )

In [36]:
meas_data = pd.read_sql("SELECT * FROM Measurement", conn)
meas_data.head()

   reportID      station        date  prcp  tobs
0         0  USC00519397  2010-01-01  0.08    65
1         1  USC00519397  2010-01-02  0.00    63
2         2  USC00519397  2010-01-03  0.00    74
3         3  USC00519397  2010-01-04  0.00    76
4         4  USC00519397  2010-01-07  0.06    70

In [27]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [28]:
stations_df.to_sql('Stations', conn, if_exists = 'append', index = True, index_label = 'stationID' )

In [35]:
stat_data = pd.read_sql("SELECT * FROM Stations", conn)
stat_data

,stationID,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [30]:
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [31]:
conn.close()

In [42]:
conn = engine.connect()

In [46]:
engine.execute("SELECT * FROM Measurement LIMIT 1").fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65)]